html{
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-image: url(https://wallpaperaccess.com/full/4893666.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  
  /* background-repeat: no-repeat; */
}
.heading{
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  color: red;
  text-shadow: 2px 1px;
}
.input{

display: grid;
justify-items: center;
align-items: center;
position: relative;
align-self: flex-start;
background-attachment: fixed;
background-position: center;
}
.main{

display: grid;
justify-self: center;
align-self: center;
height: auto;
width: 50%;
position: absolute;
background-image: url(https://img.freepik.com/premium-vector/internet-digital-security-technology-concept-business-background_191234-1133.jpg?w=2000);
border-radius: 15px;
box-shadow:5px 5px 5px 2px black;
border: solid rgb(193, 13, 13);
background-repeat:no-repeat ;
background-attachment: fixed;
background-position: center;
background-size: cover;

}
.text{
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
.inp{
  border: none;
  border-radius: 10px;
  background-color: rgb(20, 119, 158);
  /* margin-top: 20px; */
  padding: 10px;
  width: 50%;
  border: solid rgb(192, 8, 8);
  position: relative;
}
.btn{
  border: solid rgb(14, 11, 11);
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 3px 3px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXA4ZOU-9lvaWXEsTY05hB3p5sDpTZEDwrRrqRvPB2zNsiog9rFqaPY6hdJDtL-yehnRo&usqp=CAU);
  width: 25%;
  padding: 10px ;
  margin-bottom: 10px;
}
::placeholder{
  color: black;
}
p{
  text-align: center;
  text-transform: lowercase;
  text-decoration: solid;
  font-weight: bold;
  color: white;
  /* margin-bottom: 350px; */
}
.ck{
  margin-top: auto;
width: 15px;
height: 15px;
}
#log,#a1,#a2{
   visibility: hidden;
}
#reg{
  visibility: visible;
}
